app/SPE.Web/paycash/galeria.jade
.box_gale
	h2 Fotos
	span.ico_gale
	.fotos_scroll
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/1.jpg")
			img(src="img/gallery/min/1.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/2.jpg")
			img(src="img/gallery/min/2.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/3.jpg")
			img(src="img/gallery/min/3.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/4.jpg")
			img(src="img/gallery/min/4.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/1.jpg")
			img(src="img/gallery/min/1.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/2.jpg")
			img(src="img/gallery/min/2.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/3.jpg")
			img(src="img/gallery/min/3.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/4.jpg")
			img(src="img/gallery/min/4.jpg", alt="Nombre foto 1",width="100",height="70")
		a(class="md-trigger showMe", data-modal="modal-9",data-srcmax="img/gallery/max/1.jpg")
			img(src="img/gallery/min/1.jpg", alt="Nombre foto 1",width="100",height="70")
.box_gale
	h2 Videos
	span.ico_gale.videos
	.video_scroll
		<iframe width="360" height="250" src="//www.youtube.com/embed/JdXMW7rFzdw" frameborder="0" allowfullscreen></iframe>
	.video_scroll
		<iframe width="360" height="250" src="//www.youtube.com/embed/JdXMW7rFzdw" frameborder="0" allowfullscreen></iframe>

app/SPE.Web/paycash/galeria.html
<!DOCTYPE html><!--[if IE 7]><html class="ie7"><![endif]-->
<html lang="es">
  <meta charset="utf8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="title" content="Paycash">
  <meta name="description" content="Paycash">
  <title>Paycash</title>
  <link type="text/css" rel="stylesheet" media="all" href="css/landing_paycash.css">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
  <body>
    <div class="content_landing">
      <div class="row">
        <div class="col_first">
          <h2><a href="./" title="Paycash" class="logo_landing">Paycash</a></h2>
          <p>Es una Iniciativa<br> para llegar a más de<br> <strong>20 millones</strong> de<br> peruanos no<br> bancarizados</p>
          <ul class="menu_landing">
            <li><a href="./" title="Últimas Noticias">Últimas Noticias</a></li>
            <li><a href="proyecto.html" title="El Proyecto">El Proyecto</a></li>
            <li><a href="que-es-pago-efectivo.html" title="¿Qué es Pago Efectivo?">¿Qué es Pago Efectivo?</a></li>
            <li><a href="galeria.html" title="Galería" class="active">Galería</a></li>
          </ul>
        </div>
        <div class="col_second scrollPay">
          <div class="box_gale">
            <h2>Fotos</h2><span class="ico_gale"></span>
            <div class="fotos_scroll"><img src="img/gale1.jpg" alt="Nombre foto 1" width="100" height="70"><img src="img/gale1.jpg" alt="Nombre foto 1" width="100" height="70"><img src="img/gale1.jpg" alt="Nombre foto 1" width="100" height="70"><img src="img/gale1.jpg" alt="Nombre foto 1" width="100" height="70"><img src="img/gale1.jpg" alt="Nombre foto 1" width="100" height="70"><img src="img/gale1.jpg" alt="Nombre foto 1" width="100" height="70"><img src="img/gale1.jpg" alt="Nombre foto 1" width="100" height="70"><img src="img/gale1.jpg" alt="Nombre foto 1" width="100" height="70"><img src="img/gale1.jpg" alt="Nombre foto 1" width="100" height="70"><img src="img/gale1.jpg" alt="Nombre foto 1" width="100" height="70"></div>
          </div>
          <div class="box_gale">
            <h2>Videos</h2><span class="ico_gale videos"></span>
            <div class="video_scroll"><iframe width="360" height="250" src="//www.youtube.com/embed/POcOD0ckPyE" frameborder="0" allowfullscreen></iframe></div>
          </div>
        </div>
        <div class="col_third">
          <div class="row"><a href="javascript:;" title="Síguenos en Twitter" class="lnk_twitter">Síguenos en Twitter<span></span></a></div>
          <div class="logo_hack"></div>
          <div class="paycash_team row"><span class="lessw"><a href="javascript:;" title="Nombre"><img src="img/nombre.png" alt="Vladimir Estrada" width="108" height="108"></a></span><span><a href="javascript:;" title="Vladimir Estrada"><img src="img/vladimir.png" alt="Vladimir Estrada" width="108" height="108"></a></span>
            <div class="separator"></div><span class="lessw"><a href="javascript:;" title="César Huerta"> <img src="img/vladimir.png" alt="Vladimir Estrada" width="108" height="108"></a></span><span><a href="javascript:;" title="Giancarlo Valdizán"> <img src="img/giancarlo.png" alt="Giancarlo Valdizán" width="108" height="108"></a></span>
          </div>
        </div>
      </div>
      <div class="footer_landing"><span class="footer_logope"></span><a href="javascript:;" title="Pago Efectivo">www.pagoefectivo.pe</a>
        <div class="footer_logoec"><span></span></div>
      </div>
    </div>
  </body>
</html>
