app/SPE.Web/paycash/index.jade
doctype 5
<!--[if IE 7]><html class="ie7"><![endif]-->
html(lang="es",class="ieVersion")
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	meta(name="title", content="Paycash")
	meta(name="description", content="Paycash")
	title Paycash
	link(type='text/css', rel='stylesheet', media='all', href='css/landing_paycash.css')
	link(href='http://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet', type='text/css')
	link(type='text/css', rel='stylesheet', media='all', href='js/libs/fancybox/source/jquery.fancybox.css')
	script(src="js/libs/modalEffect/modernizr.custom.js")
	body
		.content_landing
			.row
				.col_first
					h2
						a(href="./", class="logo_landing", title="Paycash") Paycash
					p Es una Iniciativa<br> para llegar a más de<br> <b>7 millones</b> de<br> peruanos no<br> bancarizados
					ul.menu_landing
						li
							a(href="#lastNews", class="active linkToSection", title="Últimas Noticias",data-position="0") Últimas Noticias
						li
							a(href="#theProyect", class="linkToSection", title="El Proyecto",data-position="620") El Proyecto
						li
							a(href="#whatsPagoEfectivo", class="linkToSection", title="¿Qué es Pago Efectivo?",data-position="1227") ¿Qué es Pago Efectivo?
						li
							a(href="#gallery", class="linkToSection", title="Galería",data-position="1833") Galería
				.col_second
					#lastNews
						a(class="twitter-timeline",href="https://twitter.com/search?q=%23payCash",data-widget-id="436189121061482496")
							Tweets sobre "#payCash"
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					#theProyect
						include proyecto.jade
					#whatsPagoEfectivo
						include que-es-pago-efectivo.jade
					#gallery
						include galeria.jade
				.col_third
					.row
						a(href="https://twitter.com/intent/user?screen_name=giancvc",target="_blank" ,class="lnk_twitter", title="Síguenos en Twitter")
							| Síguenos en Twitter
							span
					.logo_hack
					.paycash_team.row
						.team_hover(class="md-trigger competitorPhoto",data-modal="modal-8",data-name="christian")
							.ch-item
								.ch-info
									h3 Cristian Castañeda
									p
										| Comercio Electrónico
										a(href="javascript:;", title="Cristian Alexander Castañeda Lozano") ver más
						span.lessw
							a(href="javascript:;", title="Cristian Alexander Castañeda Lozano")
								img(src="img/christian.png", alt="Cristian Alexander Castañeda Lozano",width="108",height="108")
						.team_hover.snd(class="md-trigger competitorPhoto",data-modal="modal-8",data-name="vladimir")
							.ch-item
								.ch-info
									h3 Vladimir Estrada
									p
										| Gerente de Tecnología Digital 
										a(href="javascript:;", title="Vladimir Estrada") ver más
						span
							a(href="javascript:;", title="Vladimir Estrada")
								img(src="img/vladimir.png", alt="Vladimir Estrada",width="108",height="108")
						.animated
							a(href="javascript:;", title="Nuestro Equipo")
								img(src="img/animate.png", alt="Nuestro Equipo",width="254",height="65")
						.team_hover.thd(class="md-trigger competitorPhoto",data-modal="modal-8",data-name="giancarlo")
							.ch-item
								.ch-info
									h3 Giancarlo Valdizán
									p
										| Marketing Digital y Experiencia de Uso (UX) 
										a(href="javascript:;", title="Giancarlo Valdizán") ver más
						span.lessw
							a(href="javascript:;", title="Giancarlo Valdizán") 
								img(src="img/giancarlo.png", alt="Giancarlo Valdizán",width="108",height="108")
						.team_hover.fth(class="md-trigger competitorPhoto",data-modal="modal-8",data-name="cesar")
							.ch-item
								.ch-info
									h3 César<br>Huerta
									p
										| Arquitecto de Software
										a(href="javascript:;", title="César Huerta") ver más
						span
							a(href="javascript:;", title="César Huerta") 
								img(src="img/cesar.png", alt="César Huerta",width="108",height="108")
			.footer_landing
				span.footer_logope
				a(href="https://pagoefectivo.pe/", target="_blank", title="Pago Efectivo") www.pagoefectivo.pe
				.footer_logoec
					span
			#modal-8.md-modal.md-effect-8
				.md-content
					a.md-close(href="javascript:;", title="Cerrar") x
					.team_modal.hidden
					.team_pic.imgParticipate
					.team_detail
						.team_info
							h2.nameParticipate
							p.positionParticipate
							p.descriptionParticipate
			#modal-9.md-modal.md-effect-9
				.md-content
					a.md-close(href="javascript:;", title="Cerrar") x
					.team_modal.hidden
					.row.gallery_modal
						img.photo_main(src="")
			.md-overlay
		.cacheImages.hidden
			img(src="img/gallery/max/1.jpg")
			img(src="img/gallery/max/2.jpg")
			img(src="img/gallery/max/3.jpg")
			img(src="img/gallery/max/4.jpg")
		script(src="js/libs/jquery/dist/jquery.min.js")
		script(src="js/libs/fancybox/source/jquery.fancybox.pack.js")
		script(src="js/libs/modalEffect/modalEffects.js")
		script(src="js/libs/modalEffect/classie.js")
		script(src="js/libs/easing/jqEasing.js")
		script(src="js/script.js")

app/SPE.Web/paycash/index.html
<!DOCTYPE html><!--[if IE 7]><html class="ie7"><![endif]-->
<html lang="es" class="ieVersion">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="title" content="Paycash">
  <meta name="description" content="Paycash">
  <title>Paycash</title>
  <link type="text/css" rel="stylesheet" media="all" href="css/landing_paycash.css">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
  <link type="text/css" rel="stylesheet" media="all" href="js/libs/fancybox/source/jquery.fancybox.css">
  <script src="js/libs/modalEffect/modernizr.custom.js"></script>
  <body>
    <div class="content_landing">
      <div class="row">
        <div class="col_first">
          <h2><a href="./" title="Paycash" class="logo_landing">Paycash</a></h2>
          <p>Es una Iniciativa<br> para llegar a más de<br> <b>7 millones</b> de<br> peruanos no<br> bancarizados</p>
          <ul class="menu_landing">
            <li><a href="#lastNews" title="Últimas Noticias" data-position="0" class="active linkToSection">Últimas Noticias</a></li>
            <li><a href="#theProyect" title="El Proyecto" data-position="620" class="linkToSection">El Proyecto</a></li>
            <li><a href="#whatsPagoEfectivo" title="¿Qué es Pago Efectivo?" data-position="1227" class="linkToSection">¿Qué es Pago Efectivo?</a></li>
            <li><a href="#gallery" title="Galería" data-position="1833" class="linkToSection">Galería</a></li>
          </ul>
        </div>
        <div class="col_second">
          <div id="lastNews"><a href="https://twitter.com/search?q=%23payCash" data-widget-id="436189121061482496" class="twitter-timeline">
              <Tweets>sobre "#payCash"</Tweets></a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
          <div id="theProyect">
            <h2>EL PROYECTO</h2>
            <div class="content_scroll">
              <p>Pay Cash se creó por iniciativa social de Grupo El Comercio mediante la integración de su producto PagoEfectivo con el Sistema Líder de Transacción Mundial Pay Pal, en respuesta al déficit consumista de la población no bancarizada en Perú perteneciente a los NSE C y D.</p><img src="img/proyecto.jpg" alt="proyecto" width="340" height="215">
              <p>Esta experiencia expone una solución innovadora para potenciar los canales de pago en más de 5 millones de comercios afiliados a Pay Pal en LATAM permitiendo a más de 24 millones de peruanos no bancarizados comprar online con la seguridad de pagar de manera presencial con dinero en efectivo en más de 11,000 puntos a nivel nacional.</p>
              <p>La iniciativa social abrirá puertas a aquellos que limitan sus compras online por no tener cuenta en el sistema financiero, tarjetas de crédito o débito, además de rechazo al fraude online, y a su vez ampliará su alcance a nuevas oportunidades de compra en mercados internacionales.</p>
              <p>En el marco de esta iniciativa PayPal promueve de manera anual un evento internacional denominado BattleHack, donde cientos de programadores, diseñadores y emprendedores parten con el objetivo de  presentar soluciones y propuestas que basadas en su plataforma, apoyen al desarrollo del mercado donde se promueva nuevos y mejores usos del dinero electrónico. En tan solo 24 horas los equipos deben de desarrollar, utilizando solo las herramientas que se entreguen una solución creativa y sostenible para mejorar una experiencia de compra  o ampliar mercados, generando modelos de negocio que no solo promuevan el mercado del comercio electrónico si no que aporten a la sociedad y su crecimiento.</p>
              <p>Para ello se ha asignado un equipo clave conformado por 4 especialistas de distintas áreas:  Negocios Digitales liderado por Cristian Castañeda, Marketing Digital y Experiencia de Usuario por Gian Carlo Valdizán , Operaciones Digitales por Vladimir Estrada y Arquitectura de Información  por Cesar Huerta, equipo que estará representando al Perú este 22 y 23 de Febrero.</p>
            </div>
          </div>
          <div id="whatsPagoEfectivo">
            <h2>¿Que es pago Efectivo?</h2>
            <div class="content_scroll">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor, purus quis malesuada elementum, elit nulla fringilla metus, id tempor ipsum dui sed neque. Cras egestas dapibus turpis, vel ornare enim placerat sit amet. Etiam bibendum dolor quis massa sodales mollis. Mauris vitae quam sit amet enim pharetra mattis quis vitae risus. Praesent eget consectetur urna. Pellentesque ultrices tellus in lacus commodo porttitor. Proin a bibendum augue, at iaculis velit. Nulla et volutpat massa, commodo pellentesque lorem.</p><img src="img/pago_efectivo.png" alt="Pago Efectivo" width="340" height="233">
            </div>
          </div>
          <div id="gallery">
            <div class="box_gale">
              <h2>Fotos</h2><span class="ico_gale"></span>
              <div class="fotos_scroll"><a data-modal="modal-9" data-srcmax="img/gallery/max/1.jpg" class="md-trigger showMe"><img src="img/gallery/min/1.jpg" alt="Nombre foto 1" width="100" height="70"></a><a data-modal="modal-9" data-srcmax="img/gallery/max/2.jpg" class="md-trigger showMe"><img src="img/gallery/min/2.jpg" alt="Nombre foto 1" width="100" height="70"></a><a data-modal="modal-9" data-srcmax="img/gallery/max/3.jpg" class="md-trigger showMe"><img src="img/gallery/min/3.jpg" alt="Nombre foto 1" width="100" height="70"></a><a data-modal="modal-9" data-srcmax="img/gallery/max/4.jpg" class="md-trigger showMe"><img src="img/gallery/min/4.jpg" alt="Nombre foto 1" width="100" height="70"></a><a data-modal="modal-9" data-srcmax="img/gallery/max/1.jpg" class="md-trigger showMe"><img src="img/gallery/min/1.jpg" alt="Nombre foto 1" width="100" height="70"></a><a data-modal="modal-9" data-srcmax="img/gallery/max/2.jpg" class="md-trigger showMe"><img src="img/gallery/min/2.jpg" alt="Nombre foto 1" width="100" height="70"></a><a data-modal="modal-9" data-srcmax="img/gallery/max/3.jpg" class="md-trigger showMe"><img src="img/gallery/min/3.jpg" alt="Nombre foto 1" width="100" height="70"></a><a data-modal="modal-9" data-srcmax="img/gallery/max/4.jpg" class="md-trigger showMe"><img src="img/gallery/min/4.jpg" alt="Nombre foto 1" width="100" height="70"></a><a data-modal="modal-9" data-srcmax="img/gallery/max/1.jpg" class="md-trigger showMe"><img src="img/gallery/min/1.jpg" alt="Nombre foto 1" width="100" height="70"></a></div>
            </div>
            <div class="box_gale">
              <h2>Videos</h2><span class="ico_gale videos"></span>
              <div class="video_scroll"><iframe width="360" height="250" src="//www.youtube.com/embed/JdXMW7rFzdw" frameborder="0" allowfullscreen></iframe></div>
              <div class="video_scroll"><iframe width="360" height="250" src="//www.youtube.com/embed/JdXMW7rFzdw" frameborder="0" allowfullscreen></iframe></div>
            </div>
          </div>
        </div>
        <div class="col_third">
          <div class="row"><a href="https://twitter.com/intent/user?screen_name=giancvc" target="_blank" title="Síguenos en Twitter" class="lnk_twitter">Síguenos en Twitter<span></span></a></div>
          <div class="logo_hack"></div>
          <div class="paycash_team row">
            <div data-modal="modal-8" data-name="christian" class="team_hover md-trigger competitorPhoto">
              <div class="ch-item">
                <div class="ch-info">
                  <h3>Cristian Castañeda</h3>
                  <p>Comercio Electrónico<a href="javascript:;" title="Cristian Alexander Castañeda Lozano">ver más</a></p>
                </div>
              </div>
            </div><span class="lessw"><a href="javascript:;" title="Cristian Alexander Castañeda Lozano"><img src="img/christian.png" alt="Cristian Alexander Castañeda Lozano" width="108" height="108"></a></span>
            <div data-modal="modal-8" data-name="vladimir" class="team_hover snd md-trigger competitorPhoto">
              <div class="ch-item">
                <div class="ch-info">
                  <h3>Vladimir Estrada</h3>
                  <p>Gerente de Tecnología Digital <a href="javascript:;" title="Vladimir Estrada">ver más</a></p>
                </div>
              </div>
            </div><span><a href="javascript:;" title="Vladimir Estrada"><img src="img/vladimir.png" alt="Vladimir Estrada" width="108" height="108"></a></span>
            <div class="animated"><a href="javascript:;" title="Nuestro Equipo"><img src="img/animate.png" alt="Nuestro Equipo" width="254" height="65"></a></div>
            <div data-modal="modal-8" data-name="giancarlo" class="team_hover thd md-trigger competitorPhoto">
              <div class="ch-item">
                <div class="ch-info">
                  <h3>Giancarlo Valdizán</h3>
                  <p>Marketing Digital y Experiencia de Uso (UX) <a href="javascript:;" title="Giancarlo Valdizán">ver más</a></p>
                </div>
              </div>
            </div><span class="lessw"><a href="javascript:;" title="Giancarlo Valdizán"> <img src="img/giancarlo.png" alt="Giancarlo Valdizán" width="108" height="108"></a></span>
            <div data-modal="modal-8" data-name="cesar" class="team_hover fth md-trigger competitorPhoto">
              <div class="ch-item">
                <div class="ch-info">
                  <h3>César<br>Huerta</h3>
                  <p>Arquitecto de Software<a href="javascript:;" title="César Huerta">ver más</a></p>
                </div>
              </div>
            </div><span><a href="javascript:;" title="César Huerta"> <img src="img/cesar.png" alt="César Huerta" width="108" height="108"></a></span>
          </div>
        </div>
      </div>
      <div class="footer_landing"><span class="footer_logope"></span><a href="https://pagoefectivo.pe/" target="_blank" title="Pago Efectivo">www.pagoefectivo.pe</a>
        <div class="footer_logoec"><span></span></div>
      </div>
      <div id="modal-8" class="md-modal md-effect-8">
        <div class="md-content"><a href="javascript:;" title="Cerrar" class="md-close">x</a>
          <div class="team_modal hidden"></div>
          <div class="team_pic imgParticipate"></div>
          <div class="team_detail">
            <div class="team_info">
              <h2 class="nameParticipate"></h2>
              <p class="positionParticipate"></p>
              <p class="descriptionParticipate"></p>
            </div>
          </div>
        </div>
      </div>
      <div id="modal-9" class="md-modal md-effect-9">
        <div class="md-content"><a href="javascript:;" title="Cerrar" class="md-close">x</a>
          <div class="team_modal hidden"></div>
          <div class="row gallery_modal"><img src="" class="photo_main"></div>
        </div>
      </div>
      <div class="md-overlay"></div>
    </div>
    <div class="cacheImages hidden"><img src="img/gallery/max/1.jpg"><img src="img/gallery/max/2.jpg"><img src="img/gallery/max/3.jpg"><img src="img/gallery/max/4.jpg"></div>
    <script src="js/libs/jquery/dist/jquery.min.js"></script>
    <script src="js/libs/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="js/libs/modalEffect/modalEffects.js"></script>
    <script src="js/libs/modalEffect/classie.js"></script>
    <script src="js/libs/easing/jqEasing.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
